{% load navigation_tags static %}

<div class="container" role="contentinfo">
    <div class="row">
    <div class="col-lg-4 col-lg-offset-1 col-md-4">
<p>Un proyecto de matronas y TCAE del <a href="http://sectorzaragozados.salud.aragon.es/">Hospital Universitario Miguel Servet</a> de Zaragoza en colaboración con <a href="http://arasaac.org">Arasaac</a></p>
    </div>
        <div class="col-lg-6 col-md-7">
            <ul class="list-inline text-right">
                    <li>
                            <a href="http://sectorzaragozados.salud.aragon.es/" target="_blank">
                                    <span class="fa-stack fa-lg" >
                                        
                                    <img style="padding-top:10px;" class="image responsive"  src="{% static "logos/salud.png" %}" alt="Salud"/>
                                    
                                    </span>
                            </a>
                            
                        </li>
    
                   
                <li>
                    <a href="http://arasaac.org" target="_blank">
                            <span class="fa-stack fa-lg">
                                
                            <img class="image img-circle responsive"  src="{% static "logos/arasaac.png" %}" alt="Arasaac"/>
                            
                            </span>
                    </a>
                    
                </li>
                    
                        <li>
                            <a href="mailto:pictopartos@gmail.com" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>

                        <li>
                                <a href="https://github.com/lmorillas/pictos_partos">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
            </ul>
            
        </div>
    </div>
</div>