{% load navigation_tags static %}

<div class="container" role="contentinfo">
    <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-3">
<p>Un proyecto de matronas y TCAE del Hospital Universitario Miguel Servet de Zaragoza en colaboración con <a href="http://arasaac.org">Arasaac</a></p>
    </div>
        <div class="col-lg-7 col-md-8">
            <ul class="list-inline text-center">
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</div>