{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="text-center">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                    <p class="stand-first">{{ page.subtitle }}</p>
                {% endif %}
            </div>
        </div>
</div>
<div class="container">
        <div class="row">

<div class="col-md-8 col-md-offset-2">
        {% if page.intro %}
            <p class="intro">{{ page.intro|richtext }}</p>
        {% endif %}
        {% if page.body %}
            {{ page.body }}
        {% endif %}
    </div>
</div>
</div>

<div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs">
            {% if page.image %}
                {% image page.image width-400 class="img resonsive "  %}
            {% endif %}
            </div>
            
        <div class="col-md-7 col-md-offset-1 form-page">
        
            <form method="post" class="blueForms">
                    {% csrf_token %}
                {{ form|crispy }}
                <input type="submit">
            </form>
            
            

        </div>
    </div>
</div>
{% endblock content %}