{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}


{% block body_class %}{% endblock %}

{% block css-extra %}
<style>
.ppictolinea {
  display: flex;
  justify-content: space-between;
}
.ppictolinea img {
  
}

</style>
{% endblock%}

{% block content %}
<div class="container">
<div class="col-xs-12">
    <h1 class="text-center">{{ page.title }} 
      <a href="/static/pdf/{{page.slug}}.pdf"><i class="pull-right fa fa-file-pdf-o" aria-hidden="true"></i></a></h1>
    
</div>

<br>


{% include "includes/lineapictos.html" with titulo=page.tit1 linea=page.linea1.all  %}

{% include "includes/lineapictos.html" with titulo=page.tit2 linea=page.linea2.all  %}

{% include "includes/lineapictos.html" with titulo=page.tit3 linea=page.linea3.all  %}

{% include "includes/lineapictos.html" with titulo=page.tit4 linea=page.linea4.all  %}

</div>

{% endblock %}


