{% load wagtailcore_tags wagtailimages_tags static %} {%if titulo %}
<div class="row">
	<h2 class="text-center">{{ titulo }}</h2>
</div>
{% endif %} {% if linea %}
<div style="clear: both"></div>
<div class="linea">
	<div class="row pictolinea">
		{% for picto in linea %}
		<div class="picto">
			<div class="card">
				<div class="cardpicto">
					{% if picto.imagen %} {% image picto.imagen height-120 class="img-fluid rounded img-responsive center-block thumbnail" %}
					{% else %}
					<img src="{% static " img/sinpicto.png "  %}" class="img-fluid rounded img-responsive center-block thumbnail"> {% endif%}
				</div>
				<div class="card-block">
					<h4 class="card-title text-center"> {{picto.texto}}</h4>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<hr> {% endif %}