{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-md-3 col-12">
{% include "includes/carousel.html" with carousel=page.carousel%}
</div>
<div class="col-md-9 col-12">

    <h1>Pictos para la comunicación - Partos</h1>

    <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>

    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
</div>
</div>
</div>
{% endblock %}

