{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-md-3 col-12">
{% include "includes/carousel.html" with carousel=page.carousel%}
</div>
<div class="col-md-9 col-12">

<h1 class="text-center">Pictos para la comunicación - Partos</h1>

<h3 class="text-center">Matronas y auxiliares Hospital Universitario Miguel Servet. Zaragoza</h3>
<p>Para modificar y crear nuevas páginas usa <a href="{% url 'wagtailadmin_home' %}">este link</a>.</p>

    
</div>
</div>
</div>
{% endblock %}

