{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}


{% block title %}Búsqueda{% if search_results %} resultados{% endif %}{% endblock %}

{% block body %}
<div class="container">
<div class="col-xs-6">
    <h1>
        Resultados de la búsqueda
    </h1>
</div>
<div class="col-xs-6">
{% include "search_box.html" only %}
</div>
</div>
<div class="container">

    {% if search_results %}
    {% for picto in search_results %}
<div class="col-xs-2">
     {% image picto width-200 class="img img-responsive thumbnail" %}
</div>
    
    {% endfor %}
     
    {% elif search_query %}
        <h2> No hemos encontrado nada</h2>
    {% else %}
        <h2> No has buscado nada</h2>
    {% endif %}
    </div>

    <div class="container">
<a href="/nuestros-pictos/">Volver</a>
</div>
{% endblock body %}
